@charset "utf-8";

/*--------------------
css変数
--------------------*/
:root {
	/* 配色 */
	--color_main: #ffa500;
	--color_sub: #ffe4b5;
	--bgcolor_main: #fff;

	/* フォント */
	--font_en: "Montserrat", sans-serif;
	--font_ja: "Noto sans JP", sans-serif;
	--font_size_base: 1.6rem;
	--font_line_height_base: 1.5;
}

/* html 共通 */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* body 共通 */
body {
	position: relative;
	font: var(--font_size_base)/var(--font_line_height_base) var(--font_ja), var(--font_en);
}

/* 見出し共通 */
h1 {
	margin: 0 auto;
	border-bottom: 2px solid var(--color_main);
	font-style: 30px;
	text-align: center;
	width: 80%;
}

h2 {
	position: relative;
	text-align: center;
	font-size: 24px;
	margin: 30px auto;
	padding: 20px 85px;
	width: 50%;
}

h2::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 60px;
	height: 2px;
	background-color: black;
}

h2::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 60px;
	height: 2px;
	background-color: black;
}

/*--------------------
レイアウト 共通
--------------------*/
/* ヘッダー */
.header {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

/* メイン */
.main {}

/* フッター */
.footer {
	width: 100%;
	background-color: var(--color_main);
}
col{
	position: relative;
}
.footer_title{
	text-decoration: none;
	color: var(--color_sub);
	font-size: 25px;
}

.footer_title:hover{
	color: var(--color_sub);
}

.nav-item a{
	text-decoration: none;
	margin-left: 10px;
	color: #000;
}

.bi{
	width: 5em;
}

.footer_SNS ul{
	
}

.footer_SNS li{
	position: relative;
	margin-top: 50px;
	left: -150px;
}