@charset "utf-8";

.top_mv {
  background-image: url(/img/top/top01.jpeg);
  background-size: cover;
  height: 100vh;
  position: relative;
  font-family: "Montserrat", "Noto sans JP";
}

.univ_name {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  color: #252525;
  padding: 20px;
  background-color: rgba(255, 210, 146, 0.8);
}

.univ_name p {
  font-size: 70px;
  text-align: center;
}

.univ_name_sub p{
  font-size: 50px;
}

/* お知らせ‐ここから */
.top_news h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  transform: translate(-50%, -50%);
}

.top_news li {
  position: relative;
  margin: 20px;
  color: #ffa500;
  left: 60px;
  font-size: 20px;
  list-style: circle;
}

/* お知らせ‐ここまで */

/* 経営学部について-ここから */
.top_business h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  transform: translate(-50%, -50%);
}

.top_business_list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffa60050;
  margin: 0 calc(50% - 50vw - 8.5px);
  padding: 10px calc(50vw - 50%);
  width: 100vw;
}

.top_pickup_list-element {
  width: calc(100% / 3);
  box-sizing: border-box;
}

.top_pickup_contents-links {
  display: block;
  text-decoration: none;
  text-align: center;
  transition: .4s;
  padding-top: 20px;
}

.top_pickup_contents-links:hover {
  background-color: #ffa60050;
}

.top_pickup_content-img img {
  object-fit: cover;
  max-width: 85%;
}

.top_pickup_content-title {
  font-weight: 700;
  transition: .4s;
  text-align: center;
  color: #000;
}

/* ピックアップコンテンツ-ここから */
.top_contents h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  transform: translate(-50%, -50%);
}

.top_contents_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.top_contents_list-element {
  width: calc(100% / 3);
  box-sizing: border-box;
  margin: 7px 0;
}

.top_contents_contents-links {
  display: block;
  text-decoration: none;
  text-align: center;
  transition: .4s;
  padding-top: 20px;

}

.top_contents_contents-links:hover {
  background-color: #ffa60050;
}

.top_contents_content-img img {
  object-fit: cover;
  max-width: 87%;
  height: 100%;
  margin-bottom: 10px;
}

.top_contents_content-title {
  position: relative;
  display: inline-block;
  font-weight: 700;
  transition: .4s;
  text-align: center;
  color: #000;
  border-bottom: solid 2px #ffa500;
}

/* ピックアップコンテンツ-ここまで */

/* 西岡Tube-ここから */
.top_movie h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 28px;
  transform: translate(-50%, -50%);
}

.responsive {
  display: flex;
  justify-content: center;
}

.top_movie iframe {
  margin-bottom: 50px;
}